[user]
	email = zso040399@gmail.com
	name = Oleksandr Zinkevych
	signingkey = 3BAF55A7B5844709
[core]
	excludesfile = /home/olekthunder/.gitignore.global
	editor = nvim
        pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true

[includeIf "gitdir/i:~/git-repos/work/"]
    path = ~/git-repos/work/.gitconfig

[pull]
	ff = only
[alias]
	stash = stash -u
[init]
	defaultBranch = master
